/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

:root {
  --background-color: #000;
  --secondary-background-color: #fff;
  --primary-text-color: #fff;
  --secondary-text-color: #000;
  --btn-bg-hover-color: #e51e59;
  --btn-bg-color: #bc1546;
  --border-color: #bc1546;
  --btn-text-color: #fff;
  --border-radius: 16px;
  --error-color:#bc1546
}

body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  display:flex;
  flex-direction: column;
  height: 100vh;
}

header {
  padding-top: 1.5rem;
  padding-right: 1.5rem;
  text-align: right;
}

.container {
  display:flex;
  flex-direction: column;
  flex-grow: 1;
  width: 65vw;
}


.btn-primary {
  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);
  border: none;
  border-radius: var(--border-radius);
  padding: .5rem;
  font-size: .75rem;
  box-shadow: 0.4rem 0.4rem 0.45rem rgba(0, 0, 30, 0.3);
}

.radius-right-only {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.btn-primary:hover {
  background-color: var(--btn-bg-hover-color);
}

footer {
  display: flex;
  margin-bottom: 3rem;
  justify-content: center;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 1rem;
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin-bottom: 1rem;
}

.auto-complete-results {
  color: var(--secondary-text-color);
  background-color: var(--secondary-background-color);
  border-radius: var(--border-radius);
  position: absolute;
  z-index: 1;
  margin-top: .5rem;
  padding: 1rem;
  font-size: .75rem;
  border: solid 1px var(--border-color);
  width: 53vw;
}

.result-items {
  margin-bottom: .5rem;
  cursor: pointer;
}

.result-items:last-of-type {
  margin-bottom: 0;
}

.highlight-term {
  background-color: yellow;
}

