/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

:root {
  --background-color: #000;
  --primary-text-color: #fff;
  --btn-bg-hover-color: #e51e59;
  --btn-bg-color: #bc1546;
  --btn-text-color: #fff;
  --border-radius: 16px;
}

body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  display:flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  display:flex;
  flex-direction: column;
  flex-grow: 1;
  width: 65vw;
}


.btn-primary {
  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);
  border: none;
  border-radius: var(--border-radius);
  padding: .5rem;
  font-size: .75rem;
  box-shadow: 0.4rem 0.4rem 0.45rem rgba(0, 0, 30, 0.3);
}

.radius-right-only {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.btn-primary:hover {
  background-color: var(--btn-bg-hover-color);
}

footer {
  display: flex;
  margin-bottom: 3rem;
  justify-content: center;
}