<form
  class="add-user-form"
  (ngSubmit)="CreateUser()"
  [formGroup]="userFormGroup"
>
  <div class="grid-2">
    <div>
      <input
        class="formControl"
        type="text"
        placeholder="First name"
        formControlName="firstName"
      />
      <lib-form-control-error
        [control]="userFormGroup.controls.firstName"
        [displayName]="'First name'"
      ></lib-form-control-error>
    </div>
    <div>
      <input
        class="formControl"
        type="text"
        placeholder="Last name"
        formControlName="lastName"
      />
      <lib-form-control-error
        [control]="userFormGroup.controls.lastName"
        [displayName]="'Last name'"
      ></lib-form-control-error>
    </div>
  </div>
  <div class="grid-3">
    <div>
      <input
        type="text"
        class="formControl"
        placeholder="Job title"
        formControlName="jobTitle"
      />
      <lib-form-control-error
        [control]="userFormGroup.controls.jobTitle"
        [displayName]="'Job title'"
      ></lib-form-control-error>
    </div>
    <div>
      <input
        type="text"
        class="formControl"
        placeholder="Phone"
        formControlName="phone"
      />
      <lib-form-control-error
        [control]="userFormGroup.controls.phone"
        [displayName]="'Phone number'"
      ></lib-form-control-error>
    </div>
    <div>
      <input
        type="text"
        class="formControl"
        placeholder="Email"
        formControlName="email"
      />
      <lib-form-control-error
        [control]="userFormGroup.controls.email"
        [displayName]="'Email'"
      ></lib-form-control-error>
    </div>
  </div>
  <div class="form-footer">
    <button class="btn-primary" type="submit">Create</button>
  </div>
</form>
