<div class="search-container">
  <div>
    <lib-search-box
      (textChanged)="SearchUsers($event)"
      (searchStarted)="GetUsers($event)"
    ></lib-search-box>
  </div>
  <lib-search-results
    *ngIf="autoCompleteResult$ | async as autoCompleteResults"
    [results]="autoCompleteResults"
    [searchTerm]="searchTerm"
    (resultSelected)="GetUsers($event)"
  ></lib-search-results>
  <div class="search-results">
    <app-user-card
      *ngFor="let user of userResult$ | async"
      [user]="user"
    ></app-user-card>
  </div>
</div>
